*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar {

    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ced4da;
}
.msg-center{
    margin: 100px auto;
    width: 100%;
    text-align: center;
}