td,th{
    padding: 5px;
    text-align: center;
}

tr:not(:last-child){
    border-bottom:1px solid lightgray;
}
th:not(:last-child),td:not(:last-child){
    border-right:1px solid lightgray;
}
table a{
    text-decoration: none;
    color: black;
    background-color: #b6ccfe;
    padding: 5px;
    border-radius: 5px;
}
table input[type='submit']{
    font-size: 16px;
    cursor: pointer;
    background-color: #ff5a5f;
    color: whitesmoke;
    border: none;
}
table input{
    border: 1px solid lightgray;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}
table{
    margin: 60px auto;
    border-collapse: collapse;
    width: 90%;
}