
.main{
    width: 80%;
    background-color: cadetblue;
}
.navigation{
    display: flex;
    gap: 30px;
    position: relative;
    margin: 60px auto auto;
    width: calc(80% - (10px*2));
    background-color: #ebf2fa;
    padding: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
}
/*ebf2fa*/
.action>img{
    width: 25px;
}
.action-bth{
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px;
    border:1px solid lightgray;
    cursor: pointer;
    width: 150px;
}
.action>button{
    color:black;
    background: #ced4da;
}
.action>button:hover{
    background: #d7d8d9;
}
.action>.subscribe{
    color: whitesmoke;
    background:linear-gradient(to right top,#ff0a54,#ff477e);
}
.action a{
    color:black;
    height: 100%;
    width:100%;
    display: block;
    text-decoration: none;
}
.action>.subscribe:hover{
    background: #ff0a54;
}
.action-wrapper{
    position: absolute;
    display: flex;
    gap: 20px;
    right: 0;
    top:-40px;
}
.content-block{
    position: relative;
}
.content-block:hover{
    cursor: pointer;
}
.content-block:hover .drop-menu{
    display: flex;
}
.drop-menu{
    width: max-content;
    display: none;
    position: absolute;
    flex-direction: column;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.drop-menu>a{
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: white;
    text-align: center;
    min-width: 50px;
}
.drop-menu>a:hover{
    background-color: #7c9aff;
}
#new-topic{
    padding-left: 5px;
    padding-right: 5px;
}
#new-topic:hover{
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    background-color: #7c9aff;
}
/*------------------------------MAIN-------------------------------*/
.main {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px auto auto;
    background-color: #edf2fb;
    position: relative;
    word-break: break-all;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
}
.main .edit:hover{
    transition: 0.3s;
    cursor: pointer;
    background-color: #ffffff;
}
.main .edit{
    background-color: #7c9aff;
    padding: 5px;
}
.edit>img{
    width: 25px;
    height: 25px;
}

.main .edit{
    position: absolute;
    right: -15px;
    top: 50px;
    border-radius: 50%;
    background-color: #f8f9fa;
    padding: 8px;
    box-shadow: 0 0 5px 0 #778da9;
    width: 25px;
    height: 25px;
}
.content{
    width: 100%;
    text-align: center;
}

/*------------------------------MAIN-------------------------------*/
.save-btn:hover{
    cursor: pointer;
}
.save-btn{
    position: sticky;
    top:80px;
    left: 10px;
    display: none;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color: #76f352;
    color:black;
}
#save-title,#discard,#title{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}
#save-title,#discard{
    transition: 0.3s;
    cursor: pointer;
    background-color: #ced4da;
}
#save-title:hover,#discard:hover{
    background-color: #e0e0e0;
}
.flex{
    display: flex;
    gap: 5px;
}