
.form>span{
    width: 100%;
    text-align: center;
}
.form{
    display: flex;
    margin: 60px auto;
    width: 400px;
    flex-direction: column;
    gap: 10px;
    font-family: cursive;
}
.form>div>label{
    font-size: 14px;
}
.form>div>label:not(label[class='file-label']){
   margin-left: 3px;
}
.form input:hover:not(input[type="submit"]),textarea:hover{
    border: 1.5px solid #b293d2;
}
.form input[type="submit"]{
    background-color: #c288ff;
}
.form input[type="submit"]:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: #b369fd;
}
.form input:focus:not(input[type="submit"]){
    transition: 0.2s;
    border: 1.5px solid #6d00c7;
}

.form input{
    width: 100%;
}
.form input,textarea,select{
    outline: none;
    border: 1px solid lightgray;
    height: 35px;
    padding: 5px;
    border-radius: 8px;
    font-family: cursive;
}

.form>div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.form textarea{
    height: 200px;
}
/*--------------VALIDATION----------------*/
.input-fail{
    border: 1.5px solid #ff6161;
    box-shadow: 0 0 2px 0 #ff6161;
}

.input-fail:focus{
    box-shadow: none;
}
.fail-msg{
    font-size:15px;
    color: #ff6161;
}
.fail{
    color: #ff6161;
    font-size: 13px;
    margin-left: 5px;
}
/*--------------VALIDATION----------------*/
/*-------------------------HELPFUL-CLASSES-----------------------*/
.file-label:hover{
    transition: 0.3s;
    cursor: pointer;
    background-color: #f8f8fc;
}
.file-label img{
    width: 25px;
    height: 25px;
}

.file-label{
    border: 1px dashed orangered;
    height: 50px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
/*-------------------------HELPFUL-CLASSES-----------------------*/