.gallery-wrapper{
    display: flex;
    margin: 60px auto;
    outline: 1px solid lightgray;
    width: calc(1050px + 10px*2);
    flex-wrap: wrap;
    background-color: #2b2d42;
    align-items: center;
    gap:10px;
    padding: 10px;
}
.gallery-wrapper .gallery-img-container{
    width: 350px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.gallery-img-container>img{
    opacity: 0.8;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-img-container>img:hover{
    transition: 0.5s;
    cursor: pointer;
    opacity: initial;
}
.menu{
    display:none;
    position: absolute;
    width: calc(100% - 2px*2);
    padding: 2px;
    background-color: #edf6f9;
    opacity: 0.8;
    bottom:0;
    justify-content: flex-end;
    gap: 10px;
}

.gallery-img-container .menu img{
    width: 20px;
    padding: 5px;
    border-radius: 5px;
    height: 20px;
}
@keyframes menu-display {
    from{
        bottom:-40px;
    }

    100%{
        bottom: 0;
    }
}
.gallery-img-container:hover .menu{
    display: flex;
    animation-name: menu-display;
    animation-duration: 0.3s;
}
.menu>img:hover{
    transition: 0.2s;
    cursor: pointer;
    background-color: rgba(0,0,0,0.24);
}
