*{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
/*--------------------HEADER-------------------*/
header {
    background-color: black;
    height: 8vh;
    display: flex;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

header > div > a {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
}

header > div > a:hover {
    transition: 0.1s;
    color: #7c9aff;
}

/*--------------------IMG-PART-------------------- */
header > div > img {
    width: 31px;
    height: 30px;
    padding: 5px;
}


header > div > img {
    border-radius: 50%;
}
.bb{
    filter: brightness(120%) contrast(120%);
}

header > div > img:hover {
    transition: 0.2s;
    background-color: rgb(0, 49, 102);
    cursor: pointer;
}

/*--------------------IMG-PART-------------------- */
header > div {
    display: flex;
    flex-basis: 30%;
    height: 100%;
    align-items: center;
    gap: 10px;
}

header > div:last-child {
    justify-content: flex-end;
    flex-grow: 1;
}

/*--------------------HEADER-------------------*/

/*--------------------ACCOUNT-BLOCK-------------------*/
@keyframes acc-display {
    from {
        opacity: 0;
        scale: 95%;
    }
    50%{
        opacity: 0.4;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}
@keyframes acc-hidden {
    from {
       opacity: 1;
        scale: 100%;
    }
    50%{
        opacity: 0.4;
    }
    to {
        opacity: 0;
        scale: 95%;
    }
}
.account {
    position: absolute;
    top: 65px;
    display: none;
    right: 10px;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgba(211, 177, 177, 0.86);
    z-index: 100;
}

.display-acc{
    animation-name: acc-display;
    animation-duration: 0.1s;
}
.hide-acc{
    animation-name: acc-hidden;
    animation-duration: 0.1s;
}
.section a:hover{
    background-color: #7c9aff;
}
.section:first-child{
    gap: 10px;
}
.section span{
    padding: 10px;
}
.section a{
    padding: 10px;
    color: black;
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    font-size: 15px;
}
.section > .account-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.notifications .section:first-child{
    padding: 0;
}
.section:first-child{
    padding: 5px;
}
.section:first-child,.section:first-child a{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.section:last-child,.section:last-child a{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}

.account > .section:not(:first-child)  img {
    width: 20px;
    height: 20px;
}
.animate-img{
    object-fit: cover;
}
/*--------------------ACCOUNT-BLOCK-------------------*/

/*-------------------MSG----------------------------*/
@keyframes msg-animate {
    from{
        opacity: 0;
    }
    20%{
        opacity: 0.8;
    }
    40%{
        opacity:1;
    }
    50%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    80%{
        opacity: 0.4;
    }
    90%{
        opacity: 0.2;
    }
    to{
        opacity: 0;
    }
}
.msg{
    display: none;
    color:#14213d;
    width: calc(100% - 5px*2);
    padding: 5px;
    text-align: center;
}
.head-success{
    display: block;
    animation-name: msg-animate;
    animation-duration: 2s;
    background-color: #27fb6b;
    opacity: 0;
}
.head-fail{
    display: block;
    animation-name: msg-animate;
    animation-duration: 2s;
    background-color: #ef233c;
    opacity: 0;
}












/*-------------------MSG----------------------------*/