body{
    background-color:#bdd5ea;
}
/*background-color: #ebf2fa;*/
.fun-block-wrapper {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: center;

}

.fun-block-wrapper  .fun-block-item {
    color: black;
    display: flex;
    width: 340px;
    flex-wrap: wrap;
    justify-content: center;
    height: 55vh;
    background-color: #f8f9fa;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}



.fun-block-wrapper  .fun-block-item > img {
    width: 90%;
    border-radius: 5px;
    object-fit: cover;
    height: 50%;
}

.fun-block-wrapper  .fun-block-item:hover {
    will-change: contents;
    cursor: pointer;
    transition: 0.4s;
    transform: scale(102%);
}

.fun-block-wrapper  .fun-block-item > h3 {
    width: 100%;
    padding: 25px 0 0 25px;
}
.fun-block-wrapper .fun-container{
    width: 1112px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.fun-block-wrapper  .fun-block-item  .info {
    font-size: 13px;
    align-self: flex-end;
    width: 100%;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
/*--------------MSG-----------*/
.more{
    margin-top: 30px;
    margin-bottom: 30px;
    width: calc(100% - 10px*2);
    display: flex;
    justify-content: center;

}
.more>button{
    cursor: pointer;
    width: 20%;
   padding: 10px;
    outline: none;
    border: 1px solid lightgray;
}
@media screen and (max-width: 1150px){
    .fun-container{
        justify-content: center;
    }
}
