body > img {
    width: 100%;

}

p {
    padding: 0;
    margin: 0;
}

#editor {
    outline: none;
    height: 600px;
    overflow-y: auto;
    padding: 50px 3px 3px;
    overflow-style: auto;
    z-index: 1;
    width: 100%;
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.photo-wrapper img {
    height: 150px;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

#container {
    display: none;
    margin: 80px auto;
    position: relative;
    width: 90%;
}

.panel {
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
    height: 40px;
    width: calc(100% - 5px);
    top: -50px;
    gap: 5px;
    background-color: #fdfdff;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.panel input[type='number']{
    width: 100px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}
.panel label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.panel label img{
    height: 60%;
}
.panel img {
    padding: 5px;
    height: 50%;
    object-fit: cover;
}

.panel img:hover,.img-position img:hover {
    transition: 0.2s;
    cursor: pointer;
    border-radius: 5px;
    background-color: lightblue;
}

.photo-wrapper {
    width: 100%;
    display: flex;
    position: relative;
}


.photo-wrapper img[class='hover']:hover {
    cursor: pointer;
    outline: 1px solid crimson;
}

.selected {
    outline: 1px solid crimson;
}
.img-position{
    position: absolute;
    top: -45px;
    z-index: 100;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 3px;
    background-color:lightgray;
    border-radius: 5px;
    display: none;
}
.img-position>img{
    padding: 5px;
    width: 20px;
    height: 20px;
}
.photo-wrapper video{
    width: 320px;
    height: 200px;
    object-fit: cover;
}

.img-position>input{
    width: 40px;
    height: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.photo-wrapper>.div-tex{
    word-break: break-all;
    outline: none;
    border-radius: 3px;
    padding: 3px;
}
video{
    outline: none;
}
