.post-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    width: 80%;
    gap: 30px;
}
.comment-container>.comment-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.comment-container>form>input[type='submit']{
    outline: none;
    border: 1px solid lightgray;
    padding: 5px;
}
.tex-comment,.answer>textarea{
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}
.comment-container>form>.tex-comment{
    width: 100%;
    height: 200px;
}
/*---------------------ASDA-----------------*/
.comment-container:not(:first-child){
    background-color: whitesmoke;
}
.comment-container{
    height: min-content;
    width: 60%;
}

.comment-container>p{
    padding: 10px;
    font-size: 18px;
}
.comment-header p{
    padding-left: 10px;
}
.comment-content{
    min-height: 50px;
}
.comment-header{
    width: 100%;
    display: flex;
    background-color: #ced4da;
}
.head-block>img,.comment-action>img{
    cursor: pointer;
}
.head-block>img{
    width: 25px;
    height: 25px;
}
.comment-action>img{
    width: 20px;
    height: 20px;
}
.head-block:nth-child(2){
    display: flex;
    justify-content: flex-end;
}
.head-block{
    padding: 5px;
    display: flex;
    align-items: center;
    width: 50%;
}
.comment-action{
    position:relative;
    flex-grow: 1;
    padding-left: 10px;
    padding-bottom: 5px;
    display: flex;
    gap: 15px;
}
/*------------------------------*/
.answer>input{
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.answer{
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 30px;
    width: 400px;
}
