@font-face {
    font-family: josefin;
    src: url('/static/fonts/JosefinSans-Regular.ttf');
}

.info-wrapper {
    margin: 20px auto;
    display: flex;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    gap: 20px;
    background-color: #f5f5f5;
    flex-wrap: wrap;
}
.photo img{
  border-radius: 50%;
}
.photo {
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.change-wrapper {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.photo>h3{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a759f;
    width: 100%;
    text-align: center;
}

.change-wrapper input{
    font-size: 16px;
    padding: 3px;
    outline: none;
    border: none;
    background-color:inherit;
    border-bottom: 1px solid lightgray;
}
.change-wrapper input:focus,input:hover{
    transition: 0.2s;
    border-bottom: 1px solid #9b9b9b;
}
.change-container label{
    font-size: 12px;
    margin-left: 3px;
    color: darkgray;
}
.change-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
}

.change-container > div {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap:8px;
}


.file-label {
    background: linear-gradient(to right top, rgba(218, 214, 255, 0.5), rgba(239, 211, 253, 0.5));
    width: 70%;
    border-radius: 20px;
    display: flex;
    padding: 5px;
    height: 195px;
    align-items: center;
    justify-content: center;
}
.cover{
    object-fit: cover;
}
.file-label  img {
    width: 80%;
    height: 157px;
    padding: 5px;
}

.file-label:hover img {
    background-color: rgba(233, 229, 255, 0.5);
}

.file-label:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: rgba(205, 200, 255, 0.5);
}
.change-container button{
    font-size: 16px;
    padding: 8px;
    color: #fdfdff;
    border: none;
    text-align: center;
    border-radius: 10px;
    background-color: #66ef3e;
}
.change-container  button:hover{
    transition: 0.3s;
    cursor: pointer;
    background-color: #76f352;
}

@media screen and (max-width: 736px){
    .info-wrapper{
        justify-content: center;
    }
}
