.edit{
display: flex;
  flex-wrap: wrap;
  height: min-content;
  width: 80%;
  gap: 5px;
  justify-content: space-evenly;
}
.edit label{
  cursor: pointer;
}
.edit a,label{
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
}