#title{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #f8f9fa;
}
button{
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid lightgray;
    background-color: #ff6161;
    cursor: pointer;
    color: white;
    font-size: 15px;
}